## -- Logging --
loglevel=warn

## -- SSL --
engine-strict=true
strict-ssl=false

## -- Others --
always-auth=false
color=true
package-lock=true
progress=true
save-prefix=~

## -- Registries --
registry=https://registry.npmjs.org/

## -- Authorization --
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
